In [5]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import string
pd.set_option('display.max_rows', 50)
pd.set_option("min_rows", 50)

### Make a guess recommender for wordle-this will take an input of what you have played and recommend the best word

In [6]:
def data_setup():
    #load in all data
#-a list of all words in the dictionary
    words = pd.read_csv('words_alpha.txt')
#a list of the most common english words
    word_common_ranking = pd.read_csv('google-10000-english-usa.txt')
#naughty words to remove
    naughty_word = pd.read_csv('naughty_words.txt')
    #use the index to rank each word as the list is already ordered
    word_common_ranking['common_ranking'] = word_common_ranking.index + 1
#join the full word list with the list of top 10,000 common words
    words = pd.merge(words,word_common_ranking, how='left', on = 'word')
#left anti join the list to the naughty words to ensure they don't show up
    words = pd.merge(words, naughty_word, how='outer', on = 'word', indicator=True)
    words= words[words['_merge'] == 'left_only']

###filter out all non five letter words
    words['word_length'] = words['word'].str.len()
    words = words.loc[words['word_length']==5]
#create columns that show the letter by position 
    for i in range(1,6):
        words['pos_'+str(i)] = words['word'].str.slice(start=(i-1),stop=i)
        
###create list of letters and numbers to use 
    alphabet_string = string.ascii_lowercase
    alphabet_list = list(alphabet_string)
    numbers_list = ['0','1','2','3','4','5','6','7','8','9']
    
#loop through each letter and mark whether the word has the letter
#divide the number of words with each letter by the number of words in total to measure how common certain letters are
#word value is defined as the sum of how common the letters in the word are

    column_names = []
    for letter in alphabet_list:
        words['contains_'+letter] = np.where(words['word'].str.contains(letter), 1, 0)
        sum_letter = sum(words['contains_'+letter])
        perc_letter = sum_letter/len(words)
        words['value_letter_'+letter]=np.where(words['contains_'+letter]==1, perc_letter,0)
        column_names.append('value_letter_'+letter)
    

    words['word_value'] = words[column_names].sum(axis=1)
#rank the words by word value and average the rankings
    words['word_value_ranking'] = words['word_value'].rank(method='max', ascending = False)
    count_nas = len(words.loc[words['common_ranking'].isna()==True])
    words['common_ranking'] = np.where(words['common_ranking'].isna()==False,  words['common_ranking'],count_nas)

    words['final_ranking'] = words[['word_value_ranking', 'common_ranking']].mean(axis=1)
    words['common_ranking'] = np.where(words['common_ranking']==count_nas,  'Uncommon',words['common_ranking'])

    return words

### Play the game. Play the first round normally and then enter what letters are green (you know position) and what letters are yellow (you know they are in the word) and what letters you used.

In [11]:
words = data_setup()
numbers_list = ['0','1','2','3','4','5','6','7','8','9']

for round_num in range(1, 7):
    print('Guess number: '+str(round_num))
    if round_num ==1:
        guess = input('Your guess is: ')
        guess_list = list(guess)
    else:
        green = input('Your green letters are-write in format letter,letter such as i,e: ')
        yellow = input('Your yellow letters are-write in format letter,letter such as i,e: ')
        list_green = list(green)
        list_yellow = list(yellow)
        
        if green!='':
            list_green = [elem for elem in list_green if elem != ',']
            if len(list_green)==5:
                print('Congrats! You Solved the puzzle in '+ str(round_num -1) + ' tries!')
                break
            for elem in guess_list:
                if elem in list_green:
                    index = guess_list.index(elem)
                    words = words.loc[words['pos_'+str(index +1)]==elem]
        else:
            list_green = []
        if yellow != '':
            list_yellow = [elem for elem in list_yellow if elem != ',']
            for elem in guess_list:
                if elem in list_yellow:
                    index = guess_list.index(elem)
                    words = words.loc[~(words['pos_'+str(index +1)]==elem)]
                    words = words.loc[words['contains_'+elem]==1]        
        else:
            list_yellow = []
        not_in_wordle = [i for i in guess_list if i not in list_green and i not in list_yellow and i not in numbers_list]
        for elem in not_in_wordle:
            words = words.loc[words['contains_'+elem]==0]
        display(words[['word', 'final_ranking', 'word_value', 'common_ranking']].sort_values(['final_ranking'], ascending=[True]).head(50))

        round_num +=1
        guess = input('Your guess is: ')
        guess_list = list(guess)

Guess number: 1
Your guess is: fuzzy
Guess number: 2
Your green letters are-write in format letter,letter such as i,e:
Your yellow letters are-write in format letter,letter such as i,e: u

         word  final_ranking  word_value common_ranking
50045   cause          868.5    1.613250         1223.0
1170    abuse         1492.5    1.572229         2225.0
144388  house         1557.5    1.424185          297.0
355953  usage         1913.0    1.568013         3031.0
356844  value         2039.5    1.382471          410.0
274952  route         2328.5    1.464578         2532.0
338808  under         2480.5    1.334655          190.0
194283  mouse         2517.5    1.433056         2382.0
326694  tours         2620.0    1.410532         2133.0
756     about         2632.5    1.313515           36.0
175454  louis         2645.0    1.408141         2112.0
333866  ultra         2867.0    1.454763         3461.0
144384  hours         2867.5    1.307349          375.0
345102  units         2912.5    1.351076         1454.0
4501    adult         3008.0    1.314899          821.0
355985  users         3030.0    1.300617          521.0
278890  sauce         3134.5    1.613250         5755.0
159387  issue         3158.0    1.294262          604.0
278927  saudi         3370.0    1.493457         5044.0
103158  equal         3513.0    1.337549         2309.0
286716  setup         3567.0    1.372216         3251.0
355385  urban         3583.5    1.323455         2127.0
297991  south         3630.0    1.244306          286.0
297857  sound         3639.5    1.264565          803.0
36775   blues         3664.5    1.363093         3266.0
3375    acute         3737.5    1.487417         5690.0
356009  using         3847.5    1.225620          239.0
353027  until         4031.5    1.229206          694.0
19579   argue         4288.5    1.505222         7080.0
71328   court         4306.0    1.204480          608.0
274853  round         4689.5    1.201774         1309.0
360293  virus         4771.0    1.231093         2224.0
7509    album         4881.5    1.176167         1036.0
356055  usual         5165.0    1.274758         4152.0
37983   bonus         5212.0    1.220146         2844.0
175417  lotus         5314.5    1.351453         6284.0
183579  menus         5424.0    1.379955         7120.0
93521   drugs         5592.5    1.161256         2081.0
41688   bruce         5692.0    1.216119         3683.0
286420  serum         5720.5    1.449100         9075.0
70515   could         5740.0    1.068579          208.0
331676  trust         5818.5    1.120737         1495.0
153289  input         5840.0    1.117088         1438.0
70599   count         5894.5    1.135334         2011.0
130354  group         5915.5    1.051088          181.0
194217  mount         6162.5    1.121241         2206.0
169196  laura         6331.5    1.211967         4863.0
60663   clubs         6449.0    1.102995         2305.0
367752  would         6553.5    0.978860           86.0
344908  union         6613.0    1.029445         1106.0

Your guess is: cause
Guess number: 3
Your green letters are-write in format letter,letter such as i,e: u,e
Your yellow letters are-write in format letter,letter such as i,e:

         word  final_ranking  word_value common_ranking
274952  route         2328.5    1.464578         2532.0
274755  rouge         6749.0    1.339122         8822.0
156978  inure         8321.5    1.468164       Uncommon
175451  louie         8367.0    1.462187       Uncommon
194188  moule         9931.0    1.311187       Uncommon
254256  prune        10020.0    1.303322       Uncommon
238466  piute        10023.0    1.303070       Uncommon
41735   brule        10064.0    1.300302       Uncommon
175483  loupe        10102.0    1.297345       Uncommon
244885  poule        10102.0    1.297345       Uncommon
41874   brute        10117.0    1.296338       Uncommon
41766   brune        10183.5    1.290235       Uncommon
38927   boule        10252.0    1.284258       Uncommon
35306   biune        10259.0    1.283881       Uncommon
322955  thule        10644.0    1.255316       Uncommon
254218  prude        10924.0    1.232603       Uncommon
93606   drupe        10924.0    1.232603       Uncommon
222029  ovule        11133.5    1.216371       Uncommon
165788  knute        11214.0    1.209828       Uncommon
41753   brume        11314.0    1.202026       Uncommon
130562  grume        11378.5    1.197810       Uncommon
161869  joule        11522.0    1.186108       Uncommon
271013  reune        11744.0    1.168680       Uncommon
101773  enure        11744.0    1.168680       Uncommon
41734   bruke        11880.5    1.157732       Uncommon
240431  plume        11899.0    1.156034       Uncommon
38894   bouge        11916.0    1.154838       Uncommon
36822   blume        12068.0    1.142947       Uncommon
126914  glume        12129.5    1.138732       Uncommon
97847   elute        12424.0    1.115704       Uncommon
144521  houve        12503.5    1.109224       Uncommon
361456  vouge        12750.0    1.086951       Uncommon
365433  whute        12805.0    1.081414       Uncommon
97829   elude        13249.5    1.038883       Uncommon
105242  etude        13290.5    1.034919       Uncommon
128306  gouge        13306.5    1.033283       Uncommon
98946   emule        13429.0    1.021392       Uncommon
185553  meute        13460.0    1.017428       Uncommon
198940  neume        13521.0    1.011325       Uncommon
105246  etuve        14229.5    0.922612       Uncommon
108807  exude        14778.5    0.814584       Uncommon
359195  veuve        15111.5    0.679816       Uncommon

Your guess is: route
Guess number: 4
Your green letters are-write in format letter,letter such as i,e: o,u,e
Your yellow letters are-write in format letter,letter such as i,e:

         word  final_ranking  word_value common_ranking
175451  louie         8367.0    1.462187       Uncommon
194188  moule         9931.0    1.311187       Uncommon
175483  loupe        10102.0    1.297345       Uncommon
244885  poule        10102.0    1.297345       Uncommon
38927   boule        10252.0    1.284258       Uncommon
161869  joule        11522.0    1.186108       Uncommon
38894   bouge        11916.0    1.154838       Uncommon
144521  houve        12503.5    1.109224       Uncommon
361456  vouge        12750.0    1.086951       Uncommon
128306  gouge        13306.5    1.033283       Uncommon

Your guess is: gouge
Guess number: 5
Your green letters are-write in format letter,letter such as i,e: g,o,u,g,e
Your yellow letters are-write in format letter,letter such as i,e:
Congrats! You Solved the puzzle in 4 tries!

In [14]:
pwd

'C:\\Users\\dbuch\\Documents'